* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 0;
}
body {
    float:left solid 100%;
    margin: auto;
    height: 100px;
    padding: 0;
}

html { 
    overflow-x: hidden;
}

header {
    background-color: blue;
    width: calc(1500/1440 * 100vw);
    height: 100%;
    color: white;
    line-height: 300%;
    font-size: 200%;
    text-indent: 2%;
}

.layout {
    margin-right: auto;
    width: 120vw;
    margin-top: 40px;
    position: relative;
    height: calc(100/1440 * 100vw); 
   }
.sidebar, .content { 
    position: absolute;  
} 

.sidebar-ul { 
    width: 180px;
    /* height: calc(100/1440 * 100vw); */
    text-indent: 20px;
    margin-bottom: 160%;
    line-height: 25px;
    border-right: 3px solid grey;
 }
.content {
    left: 12%;
    width: 100%;
 }
h2 {
    background-color: blue;
    color: white;
   }
ul {
    list-style-type: none;
    padding-bottom: 2vh;
   }
a {
    color: orange;
   }