* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto" sans-serif;
  font-family: "Inter" sans-serif;
  background: #ffffff;
}
/* -------------------------------------header----------- */
.header {
  min-width: 320px;
  display: flex;
  height: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.header__logo {
  min-width: 222px;
  height: 50px;
  margin: 18px 0px 12px 30px;
  background: url(picture/logo-3.png);
  background-size: 100% 100%;
}

.header__h1 {
  width: 242px;
  height: 44px;
  margin: 21px 0px 15px 30px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #787878;
}

.header__passage {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  width: 157px;
  height: 29px;
  margin: 25px 28px 26px auto;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #787878;
}

.header__passage_short {
  display: flex;
  justify-content: flex-end;
  width: 60px;
  height: 29px;
  margin: 25px 43px 26px 0;
}

.header__passage:hover {
  color: #1a226b;
  transition: 0.2s;
}

/* ---------------------------------------input-------- */
.box-form {
  position: relative;
  width: 600px;
  height: 383px;
  margin: 125px auto;
  padding-top: 26px;
  padding-right: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}

.box-form__h1 {
  margin: 0;
  text-align: center;

  font-family: "Robobo", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  color: #787878;
}

.box-form__form {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 92%;
  margin-top: 12px;
}

.box-form__label {
  margin-bottom: 5px;

  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #787878;
}

.box-form__input {
  width: 100%;
  height: 49px;
  margin-bottom: 13px;
  padding-left: 13px;
  border: 2px solid #787878;
  background: #ffffff;

  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #787878;
}

.box-form__input:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.box-form__input:focus {
  outline: none;
  border: 2.5px solid #1a226b;
}

.box-form__input::placeholder {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #cccccc;
}

.box-form__button {
  width: 180px;
  height: 52px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 34px;
  border: none;
  background: #1a226b;

  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  color: #ffffff;
}

.box-form__button:hover {
  background: #212b87;
}

.box-form__button:active {
  border: 2px solid #aeaeae;
}

/* -------------------------------------breakpoint_830------- */
@media screen and (max-width: 830px) {
  .header__h1 {
    margin: 22px 10px 15px 30px;
    font-size: 30px;
  }

  .header__logo {
    min-width: 175px;
    height: 40px;
    margin: 18px 0px 12px 30px;
  }
}

/* ---------------------------------------breakpoint_768-------- */
@media screen and (max-width: 769px) {
  .header {
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }

  .header__logo {
    min-width: 124px;
    height: 25px;
    margin: 25px 0px 30px 20px;
  }

  .header__h1 {
    width: 162px;
    height: 29px;
    margin: 23px 0px 28px 34px;
    font-size: 24px;
  }

  .header__passage {
    width: 105px;
    height: 19px;
    margin: 30px 35px 31px auto;
    font-size: 16px;
  }

  .header__passage_short {
    width: 40px;
    margin: 30px 28px 31px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    min-width: 320px;
  }

  .box-form {
    margin: calc(80 / 768 * 100vw) 20px;
  }
}

/* --------------------------------------breakpoint_565----------*/

@media screen and (max-width: 565px) {
  .header__h1 {
    position: absolute;
    top: 27px;
    left: -24px;
    font-size: 17px;
  }

  .header__passage {
    margin: 30px 5px 31px auto;
    font-size: 17px;
  }

  .header__passage_short {
    margin: 30px 10px 31px 15px;
  }

  .header__logo {
    position: absolute;
    display: block;
    margin: 14px 10px 30px 13px;
  }

  .box-form {
    padding: 26px 10px 45px 10px;
  }
}

/* --------------------------------registration--------- */
.box-form_full {
  height: 875px;
  margin: 100px auto;
}

.box-form__hidden-check {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
}
.box-form__container-check {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 7px;
}

.box-form__label_right {
  margin: 13px 0 5px 36px;
}

.box-form__label_right::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  margin-top: -5px;
  border: 2px solid #787878;
  border-radius: 50%;
}

.box-form__label_right::after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 7px;
  width: 11px;
  height: 11px;
  margin-top: 0px;
  border: 1px solid #787878;
  border-radius: 50%;
  background: #787878;
}

.box-form__hidden-check:checked + .box-form__label_right::after {
  opacity: 1;
}

.box-form__input_long {
  resize: none;
  width: 100%;
  height: 246px;
  margin-bottom: 34px;
}

.box-form__label_lower::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 1px;
  width: 22px;
  height: 22px;
  margin-bottom: 1px;
  border: 2px solid #787878;
}

.box-form__label_lower::after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 8px;
  width: 12px;
  height: 12px;
  background: #787878;
}

.box-form__hidden-check:checked + .box-form__label_lower::after {
  opacity: 1;
}

.box-form__label_lower {
  margin: 1px 1px 2px 36px;
}

/* ------------------------breakpoint_769_registration--------- */
@media screen and (max-width: 769px) {
  .box-form_full {
    margin: 80px auto;
  }
}

/* ------------------------breakpoint_650_registration--------- */
@media screen and (max-width: 650px) {
  .box-form_full {
    height: 600px;
    margin: 2px 15px 15px 15px;
    padding: 10px;
  }
  .box-form__h1 {
    font-size: 30px;
  }
  .box-form__form {
    margin: 0;
  }
}

