* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #1a226b;
    font-family: 'Roboto';
}

.box {
    position: relative ;
    display: flex;
    margin: 0 auto;
    margin-top: 82px;
    margin-left: 412px;
    flex-direction: column;
    width: 600px;
    height: 412px;
    background-color: #ffffff;
    border-color: black;
    border-radius: 20px;
    
    /* box-shadow: 412px 82px; */
}

.box__h1 {
    font-style: normal;
    font-weight: 700;
    font-size: calc(50 / 1440 * 100vw);
    text-align: center;
    margin-top: calc(26 / 1440 * 100vw);
    color: #787878;
}

.box-form__email {
    margin-left: calc(45 / 1440 * 100vw);
    margin-bottom: calc(50 / 1440 * 100vw);
    width: 510px;
    height: 49px;
    border: 2px solid #787878;
    border-radius: calc(10 / 1440 * 100vw);
}

.box-form__password {
    margin-left: calc(45 / 1440 * 100vw);
    margin-bottom: calc(193 / 1440 * 100vw);
    width: 510px;
    height: 49px;
    border: 2px solid #787878;
    border-radius: calc(10 / 1440 * 100vw);
}

.box-form__checkbox {
    margin-left: calc(45 / 1440 * 100vw);
    margin-top: calc(258 / 1440 * 100vw);
    width: 312px;
    height: 24px;
}

.box-form__button {
    margin-left: calc(210 / 1440 * 100vw);
    margin-top: calc(334 / 1440 * 100vw);
    width: calc(180 / 1440 * 100vw);
    height: calc(52 / 1440 * 100vw);
    border-radius: calc(10 / 1440 * 100vw);
    background: #1a226b;
    font-weight: 700;
    font-size: calc(24 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    color: #ffffff;
}